.banner {
    @include bg-cover("../../images/banner.jpg", 380px);
    width: 100%;

    @include media-breakpoint-up(md) {
        height: 500px;
        border-radius: $border-radius-lg;

    }
}

.introBg {
    @include img-cover(100px);
    width: 100%;

    @include media-breakpoint-up(md) {
        height: 150px;
    }

    &:hover>.introMask {
        background-color: rgba(0, 0, 0, 0.15);
        @include linear;
    }

    &:hover>.introText {
        opacity: 1;
        @include linear;
    }

    &:hover>.introText::after {
        width: 100%;
        @include linear;
    }
}

.introMask {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    @include linear;
}

.introText {
    opacity: .7;
    @include linear;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: white;
        transform: translateX(-50%);
        @include linear;
    }
}

.tableWidth {
    width: auto;

    @include media-breakpoint-up(md) {
        width: 700px;
    }
}

.recommendPdImg {
    @include img-cover(96px);
}

.recommendAvatarImg {
    @include img-cover(40px);
}

.transportIcon {
    width: 80px;
    height: 80px;
    border: 2px solid $dark;
    font-size: 32px;

    @include media-breakpoint-up(md) {
        width: 90px;
        height: 90px;
        font-size: 40px;
    }

    @include media-breakpoint-up(lg) {
        width: 115px;
        height: 115px;
        font-size: 48px;
    }
}

.productImg {
    &--bigger {
        @include linear;
        @include img-cover(150px);
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 220px;
        }

        @include media-breakpoint-up(xl) {
            height: 302px;
        }
    }


    &:hover>&--bigger {
        transform: scale(1.15);
        @include linear;
    }
}

.productTag {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.cartImg {
    @include img-cover(100px);
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 80px;
        height: 80px;
    }
}